extends layout

block content
 .container
  h4 sale number #{sale.saleId}; updated #{sale.stamp}
  p products in cart -  #{listings}
  ul
  each display, i in displays
   li.row.card.horizontal.grey.lighten-2
    .col.s5 product
    .col.s2 cost
    .col.s2 quantitey
    .col.s3 sakhakol
   li.row.card.horizontal.green.lighten-4
    .card-content.col.s5 #{display.name}
    .card-content.col.s2 #{display.price}
    .card-content.col.s2 #{display.amount}
    -var tots = display.price * display.amount
    .card-content.col.s3 #{tots}
